<h2>Add Product</h2>
<form action="/add" method="post">
    Name:
    <input type="text" name="pname" id=""><br>
    Image:
    <input type="text" name="img" id=""><br>
    Price:
    <input type="number" name="price" id=""><br>
    Category:
    <input type="text" name="category" id=""><br>
    <button type="submit">Submit</button>
</form>