<h2>Login</h2>
<form action="/login" method="post">
    Username:
    <input type="text" name="username" id=""><br>
    Password:
    <input type="text" name="password" id=""><br>
    <button type="submit">Submit</button>
    <a href="/register">Dont have an account</a>
</form>